body {
	font-size: 14px;
	font-family: segoe ui light;
	line-height: 23px;
}
#wrapper {
	width: 960px;
	margin: 0px auto;
}
#header, #footer {
	background: #029ef3;
}

ul#main-menu {
	text-align: center;
}
ul#main-menu li {
	display: inline-block;
}
ul#main-menu li a{
	color: #fff;
	padding: 8px 15px;
	display: block;
}
#content {
	min-height: 600px;
	padding: 20px 0px;
}
#footer p{
	height: 50px;
}